.App {
}

.App-header {
  background-color: #282c34;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.App-header a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
  font-size: calc(10px + 2vmin);
  flex-shrink: 1;
}

.App-section {
  background-color: #383c44;
  height: calc(100vh - 48px);
}
